/* CSS stílusok a felhasználói felülethez */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.form-container {
    max-width: 400px;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.container {
    max-width: 20%;
    margin: 0 auto; 
}
 
.button-container {
    display: flex; /* Use flexbox to arrange buttons horizontally */
    gap: 5px; /* Adjust the space between buttons as needed */
}
  