/* Alapstílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .buttons button:hover {
    background-color: #2980b9;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .card-text {
    color: #555;
  }
  
  form {
    margin-top: 20px;
  }
  
  form input,
  form button {
    padding: 8px;
    margin: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form input[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #2980b9;
  }
  